h1{
    color: rgb(17, 117, 117);
}
p{
    font-size: 20px;
}
div{
    background-color:  rgba(175, 175, 175, 0.596);
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}
#steps{
    background-color:  rgb(250, 250, 228);
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
}
#stars{
    border-style: dotted;
    background-color: white;
}
ul{
    list-style: none;
    font-size: 18px;
}